* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: #222;
    color: #e5e5e5;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: 500;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 35px;
}

.nav-toggle-label span {
    display: block;
    background-color: #007ced;
    height: 3px;
    width: 100%;
    margin: 5px 0;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 2rem;
}

.nav-links a {
    color: #e5e5e5;
}

/* Section principale */
.hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-text h5 {
    font-size: 14px;
}

.hero-text h1 {
    color: #007ced;
    font-size: 3rem;
}

.btn-group {
    margin: 45px 0;
}

.btn {
    border: 2px solid #e5e5e5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
}

.btn.active {
    border-color: #007ced;
}

.social a {
    margin: 0 10px;
    color: #e5e5e5;
    font-size: 18px;
    transition: 0.5s;
}

.social a:hover {
    color: #007ced;
    transform: rotate(360deg);
}

/* Responsive */
@media (max-width: 930px) {
    .nav-toggle-label {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%;
        background: #222;
        width: 60%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.5s;
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-toggle:checked + .nav-links {
        right: 0;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        padding: 40px 0;
    }
}
